#url-rewriting-warning{
    display:none
}

.navbar-header {
    padding-left: 5%;
}

.navbar-default .navbar-brand {
    font-size: 20px;
    color: white;
}

.menu {
    margin-top: 20px;
    border: solid 1px;
    border-color: lightgrey;
    border-radius: 5px;
    background-color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20%;
    padding-right: 5px;
    text-align: left;
    color: dodgerblue;
}

.container-fluid{
    padding-right: 5%;
    background-color: #808080;
}

.dropdown{
    margin-left: 20%;

}

.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}

.navigation-bar{
    margin-top: 19px;
}

.mywell{
    margin-top: 20px;
    border-radius: 5px;
    background-color: #F5F5F5;
    padding: 8px 15px;
    text-align: left;

}

.myform{
    margin-top: -20px;
}