<?php
/**
 * Created by PhpStorm.
 * User: baptisterzepka
 * Date: 04/05/2014
 * Time: 20:23
 */?>

<div class="navigation-bar">
    <ol class="breadcrumb">
        <li class="active">Dashboard</li>
    </ol>
</div>

<div class="mywell">
    <div class="row">
        <div class="col-lg-6">
            essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>
        </div>
        <div class="col-lg-6">
            essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>essai<br>
        </div>
    </div>



</div>


